extends ./../layout/main

block content   
    div(class="col-xs-12 col-md-12")
        h2(class="text-center") Register New User
        form(action="/users", method="post")
            div(class="form-group")
<<<<<<< HEAD
                input(type="text", name="name",id="name", placeholder="Name: ", class="form-group")   
            div(class="form-group")
                input(type="text", name="username", id="username", placeholder="Username: ", class="form-group")
            div(class="form-group")
                input(type="email", name="email", id="email", placeholder="Email: ", class="form-group")
            div(class="form-group")
                input(type="password", name="password", id="password", placeholder="Password: ", class="form-group")
=======
                input(type="text", name="name", placeholder="Name: ", class="form-group")   
            div(class="form-group")
                input(type="text", name="username", placeholder="Username: ", class="form-group")
            div(class="form-group")
                input(type="email", name="email", placeholder="Email: ", class="form-group")
            div(class="form-group")
                input(type="password", name="password", placeholder="Password: ", class="form-group")
>>>>>>> 090ee181262a2203c56cb6f511622487b55582c8
            div(class="form-group")
                button(type="submit", class="btn btn-primary") Create
        